In [1]:
import pandas as pd
import numpy as np

In [2]:
file = r"C:\Users\irgpapais\Documents\Meus Projetos\Neta\nina\data\N1N@_16_07_2024_23_07_2024.CSV"
df = pd.read_csv(file, sep=';', encoding='latin-1', dtype=str)
df.replace(np.nan, '', inplace=True)

In [4]:
df.head(2)

,Linha,Ano processo,Codigo Processo,Motivo,Numero da OS,Codigo Processo/TSS,Descricao Processo/TSS,Tipo Causal Mudanca Estado,Codigo TSE,Descricao TSE,...,Municipio,Bairro,Toponimo,Logrdouro,Duplicidade,Reincidencia,Total de Rechamada,Perfis Beneficiarios.1,Tipo manifestação,Código da Interação
0,36516,2024,19539189,PARCELAMENTO MONOSUJEITO,2419539189,CRD002A,PARCELAMENTO MONOSUJEITO,,,,...,SAO PAULO,CID LIDER,RUA,FRAIBURGO,,,,,SOLICITAÇÃO,152565504
1,36517,2024,19511223,PARCELAMENTO MONOSUJEITO,2419511223,CRD002A,PARCELAMENTO MONOSUJEITO,,,,...,SAO PAULO,V GERMAINE,RUA,MAXINE,,,,,SOLICITAÇÃO,152521490

In [7]:
if len(df.columns) >= 49:
    selected = df.columns[:49]
    selected_df = df[selected]

In [8]:
selected_df.head(2)

,Linha,Ano processo,Codigo Processo,Motivo,Numero da OS,Codigo Processo/TSS,Descricao Processo/TSS,Tipo Causal Mudanca Estado,Codigo TSE,Descricao TSE,...,Unidade Resp Fornecimento,Unidade Executante,Unidade Territorial,Municipio,Bairro,Toponimo,Logrdouro,Duplicidade,Reincidencia,Total de Rechamada
0,36516,2024,19539189,PARCELAMENTO MONOSUJEITO,2419539189,CRD002A,PARCELAMENTO MONOSUJEITO,,,,...,DIV SAC ITAQUERA,DEP SAC LESTE,ATC: ATC ARTUR ALVIM,SAO PAULO,CID LIDER,RUA,FRAIBURGO,,,
1,36517,2024,19511223,PARCELAMENTO MONOSUJEITO,2419511223,CRD002A,PARCELAMENTO MONOSUJEITO,,,,...,DIV SAC ITAQUERA,DEP SAC LESTE,ATC: ATC ARTUR ALVIM,SAO PAULO,V GERMAINE,RUA,MAXINE,,,